
/* --------------------------------------
   Typography
   -------------------------------------- */
body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   background-color: #181616;
   color: #FFFFFF;
}
h2{
  align:center;
}
#btn{
    margin: 10px 400px;
}
.well{
    background-color: #32393D;
      color: #FFFFFF;
}
.well h4{
 background-color: #32393D;
       
}
form .hi{
  margin-left: 15px;
}

.form-control{
  width: 200px;
  height: 30px;
  margin:20px 0px; 
}
.well h4 div{
  width: 200px;
  color: #FFFFFF;
}

table caption{

  font-size: 1.2em;
  font-weight: bold; 
  color: #FFFFFF;
}
.row table{
  margin: 20px 15px; 
}


.table > thead > tr:first-child{
  background-color: #E51818; 
  color: #FFFFFF;
}


@media
only screen and (max-width: 760px),
(min-device-width: 320px) and (max-device-width: 1024px) 
{
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /*
    Label the data
    */
    td:nth-of-type(1):before {
        content: "id";
    }
    td:nth-of-type(2):before {
        content: "name";
    }
    td:nth-of-type(3):before {
        content: "company";
    }
    td:nth-of-type(4):before {
        content: "email";
    }
    
}